.FOSSTrans-UI-MainWindow-Body-SearchModes-SearchWords-Logo {
}

.FOSSTrans-UI-MainWindow-Body-SearchModes-SearchWords-Logo img,
.FOSSTrans-UI-MainWindow-Body-SearchModes-SearchMessages-Logo img {
 position: relative;
 border: none;
 left: 50%;
 margin-left: -360px;
}


.Webwidgets-Widgets-Formatting-AbstractFieldgroup.FOSSTrans-UI-MainWindow-Body-SearchModes-SearchWords-Search,
.FOSSTrans-UI-MainWindow-Body-SearchModes-SearchWords-Actions {
 position: relative;
 left: 30%;
 width: 40%;
 text-align: center;
}

.FOSSTrans-UI-MainWindow-Body-SearchModes ul.tabs {
 margin-top: 0;
}

button, input[type="submit"],
.Webwidgets-Widgets-TableMod-Table .buttons a {
 background: white;
 border: solid 3px #800000;
 color: black;
}

button[disabled="disabled"], input[type="submit"][disabled="disabled"] {
 background: white;
 border: solid 3px #800000;
 color: #800000;
}

.Webwidgets-Widgets-Composite-TabbedView ul.tabs li {
 border-left: solid 3px #800000;
 border-top: solid 3px #800000;
 border-right: solid 3px #800000;
}
